@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  background: var(--Off-Black);
  color: var(--White);
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

.wrapper {
  width: 385px;
  height: 612px;
  background: var(--Dark-Grey);
  padding: 40px;
  border-radius: 10px;
}
.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-content img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.profile-content h3 {
  margin-bottom: 0;
}
.profile-content p:nth-child(3) {
  color: var(--Green);
  line-height: 0.25;
  margin: 0;
}

.social-media {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.social-media button {
  padding: 0.5rem 0;
  background: var(--Grey);
  color: var(--White);
  border-radius: 6px;
  border: none;
  height: 50px;
}
.social-media button:hover {
  background: var(--Green);
  color: var(--Grey);
  cursor: pointer;
}

.social-media button:focus {
  color: var(--Green);
  border-top: 1px solid var(--Green);
}

@media (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
}
